<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.lte.dao.CommonObjectDao">

	<select id="get" resultType="com.bootdo.lte.domain.CommonObjectDO">
		select `id`,`object_type`,`object_code`,`object_name`,`object_define_id`,`object_area`,`object_district`,`f1`,`f2`,`f3`,`f4`,`f5`,`f6`,`f7`,`f8`,`f9`,`f10`,`f11`,`f12`,`f13`,`f14`,`f15`,`f16`,`f17`,`f18`,`f19`,`f20`,`f21`,`f22`,`f23`,`f24`,`f25`,`f26`,`f27`,`f28`,`f29`,`f30`,`f31`,`f32`,`f33`,`f34`,`f35`,`f36`,`f37`,`f38`,`f39`,`f40`,`f41`,`f42`,`f43`,`f44`,`f45`,`f46`,`f47`,`f48`,`f49`,`f50`,`f51`,`f52`,`f53`,`f54`,`f55`,`f56`,`f57`,`f58`,`f59`,`f60`,`f61`,`f62`,`f63`,`f64`,`f65`,`f66`,`f67`,`f68`,`f69`,`f70`,`f71`,`f72`,`f73`,`f74`,`f75`,`f76`,`f77`,`f78`,`f79`,`f80`,`f81`,`f82`,`f83`,`f84`,`f85`,`f86`,`f87`,`f88`,`f89`,`f90`,`f91`,`f92`,`f93`,`f94`,`f95`,`f96`,`f97`,`f98`,`f99`,`f100` from lte_common_object where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.lte.domain.CommonObjectDO">
		select `id`,`object_type`,`object_code`,`object_name`,`object_define_id`,`object_area`,`object_district`,`f1`,`f2`,`f3`,`f4`,`f5`,`f6`,`f7`,`f8`,`f9`,`f10`,`f11`,`f12`,`f13`,`f14`,`f15`,`f16`,`f17`,`f18`,`f19`,`f20`,`f21`,`f22`,`f23`,`f24`,`f25`,`f26`,`f27`,`f28`,`f29`,`f30`,`f31`,`f32`,`f33`,`f34`,`f35`,`f36`,`f37`,`f38`,`f39`,`f40`,`f41`,`f42`,`f43`,`f44`,`f45`,`f46`,`f47`,`f48`,`f49`,`f50`,`f51`,`f52`,`f53`,`f54`,`f55`,`f56`,`f57`,`f58`,`f59`,`f60`,`f61`,`f62`,`f63`,`f64`,`f65`,`f66`,`f67`,`f68`,`f69`,`f70`,`f71`,`f72`,`f73`,`f74`,`f75`,`f76`,`f77`,`f78`,`f79`,`f80`,`f81`,`f82`,`f83`,`f84`,`f85`,`f86`,`f87`,`f88`,`f89`,`f90`,`f91`,`f92`,`f93`,`f94`,`f95`,`f96`,`f97`,`f98`,`f99`,`f100` from lte_common_object
        <where>
			      <if test="deptId != null and deptId != ''">
					  and object_area in (
					  	select name from sys_dept where dept_id = #{deptId} or parent_id = #{deptId}
					  )

				  </if>
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="objectType != null and objectType != ''"> and object_type = #{objectType} </if>
		  		  <if test="objectCode != null and objectCode != ''"> and object_code = #{objectCode} </if>
		  		  <if test="objectName != null and objectName != ''"> and object_name = #{objectName} </if>
		  		  <if test="objectDefineId != null and objectDefineId != ''"> and object_define_id = #{objectDefineId} </if>
		  		  <if test="objectArea != null and objectArea != ''"> and object_area = #{objectArea} </if>
		  		  <if test="objectDistrict != null and objectDistrict != ''"> and object_district = #{objectDistrict} </if>
		  		  <if test="f1 != null and f1 != ''"> and f1 = #{f1} </if>
		  		  <if test="f2 != null and f2 != ''"> and f2 = #{f2} </if>
		  		  <if test="f3 != null and f3 != ''"> and f3 = #{f3} </if>
		  		  <if test="f4 != null and f4 != ''"> and f4 = #{f4} </if>
		  		  <if test="f5 != null and f5 != ''"> and f5 = #{f5} </if>
		  		  <if test="f6 != null and f6 != ''"> and f6 = #{f6} </if>
		  		  <if test="f7 != null and f7 != ''"> and f7 = #{f7} </if>
		  		  <if test="f8 != null and f8 != ''"> and f8 = #{f8} </if>
		  		  <if test="f9 != null and f9 != ''"> and f9 = #{f9} </if>
		  		  <if test="f10 != null and f10 != ''"> and f10 = #{f10} </if>
		  		  <if test="f11 != null and f11 != ''"> and f11 = #{f11} </if>
		  		  <if test="f12 != null and f12 != ''"> and f12 = #{f12} </if>
		  		  <if test="f13 != null and f13 != ''"> and f13 = #{f13} </if>
		  		  <if test="f14 != null and f14 != ''"> and f14 = #{f14} </if>
		  		  <if test="f15 != null and f15 != ''"> and f15 = #{f15} </if>
		  		  <if test="f16 != null and f16 != ''"> and f16 = #{f16} </if>
		  		  <if test="f17 != null and f17 != ''"> and f17 = #{f17} </if>
		  		  <if test="f18 != null and f18 != ''"> and f18 = #{f18} </if>
		  		  <if test="f19 != null and f19 != ''"> and f19 = #{f19} </if>
		  		  <if test="f20 != null and f20 != ''"> and f20 = #{f20} </if>
		  		  <if test="f21 != null and f21 != ''"> and f21 = #{f21} </if>
		  		  <if test="f22 != null and f22 != ''"> and f22 = #{f22} </if>
		  		  <if test="f23 != null and f23 != ''"> and f23 = #{f23} </if>
		  		  <if test="f24 != null and f24 != ''"> and f24 = #{f24} </if>
		  		  <if test="f25 != null and f25 != ''"> and f25 = #{f25} </if>
		  		  <if test="f26 != null and f26 != ''"> and f26 = #{f26} </if>
		  		  <if test="f27 != null and f27 != ''"> and f27 = #{f27} </if>
		  		  <if test="f28 != null and f28 != ''"> and f28 = #{f28} </if>
		  		  <if test="f29 != null and f29 != ''"> and f29 = #{f29} </if>
		  		  <if test="f30 != null and f30 != ''"> and f30 = #{f30} </if>
		  		  <if test="f31 != null and f31 != ''"> and f31 = #{f31} </if>
		  		  <if test="f32 != null and f32 != ''"> and f32 = #{f32} </if>
		  		  <if test="f33 != null and f33 != ''"> and f33 = #{f33} </if>
		  		  <if test="f34 != null and f34 != ''"> and f34 = #{f34} </if>
		  		  <if test="f35 != null and f35 != ''"> and f35 = #{f35} </if>
		  		  <if test="f36 != null and f36 != ''"> and f36 = #{f36} </if>
		  		  <if test="f37 != null and f37 != ''"> and f37 = #{f37} </if>
		  		  <if test="f38 != null and f38 != ''"> and f38 = #{f38} </if>
		  		  <if test="f39 != null and f39 != ''"> and f39 = #{f39} </if>
		  		  <if test="f40 != null and f40 != ''"> and f40 = #{f40} </if>
		  		  <if test="f41 != null and f41 != ''"> and f41 = #{f41} </if>
		  		  <if test="f42 != null and f42 != ''"> and f42 = #{f42} </if>
		  		  <if test="f43 != null and f43 != ''"> and f43 = #{f43} </if>
		  		  <if test="f44 != null and f44 != ''"> and f44 = #{f44} </if>
		  		  <if test="f45 != null and f45 != ''"> and f45 = #{f45} </if>
		  		  <if test="f46 != null and f46 != ''"> and f46 = #{f46} </if>
		  		  <if test="f47 != null and f47 != ''"> and f47 = #{f47} </if>
		  		  <if test="f48 != null and f48 != ''"> and f48 = #{f48} </if>
		  		  <if test="f49 != null and f49 != ''"> and f49 = #{f49} </if>
		  		  <if test="f50 != null and f50 != ''"> and f50 = #{f50} </if>
		  		  <if test="f51 != null and f51 != ''"> and f51 = #{f51} </if>
		  		  <if test="f52 != null and f52 != ''"> and f52 = #{f52} </if>
		  		  <if test="f53 != null and f53 != ''"> and f53 = #{f53} </if>
		  		  <if test="f54 != null and f54 != ''"> and f54 = #{f54} </if>
		  		  <if test="f55 != null and f55 != ''"> and f55 = #{f55} </if>
		  		  <if test="f56 != null and f56 != ''"> and f56 = #{f56} </if>
		  		  <if test="f57 != null and f57 != ''"> and f57 = #{f57} </if>
		  		  <if test="f58 != null and f58 != ''"> and f58 = #{f58} </if>
		  		  <if test="f59 != null and f59 != ''"> and f59 = #{f59} </if>
		  		  <if test="f60 != null and f60 != ''"> and f60 = #{f60} </if>
		  		  <if test="f61 != null and f61 != ''"> and f61 = #{f61} </if>
		  		  <if test="f62 != null and f62 != ''"> and f62 = #{f62} </if>
		  		  <if test="f63 != null and f63 != ''"> and f63 = #{f63} </if>
		  		  <if test="f64 != null and f64 != ''"> and f64 = #{f64} </if>
		  		  <if test="f65 != null and f65 != ''"> and f65 = #{f65} </if>
		  		  <if test="f66 != null and f66 != ''"> and f66 = #{f66} </if>
		  		  <if test="f67 != null and f67 != ''"> and f67 = #{f67} </if>
		  		  <if test="f68 != null and f68 != ''"> and f68 = #{f68} </if>
		  		  <if test="f69 != null and f69 != ''"> and f69 = #{f69} </if>
		  		  <if test="f70 != null and f70 != ''"> and f70 = #{f70} </if>
		  		  <if test="f71 != null and f71 != ''"> and f71 = #{f71} </if>
		  		  <if test="f72 != null and f72 != ''"> and f72 = #{f72} </if>
		  		  <if test="f73 != null and f73 != ''"> and f73 = #{f73} </if>
		  		  <if test="f74 != null and f74 != ''"> and f74 = #{f74} </if>
		  		  <if test="f75 != null and f75 != ''"> and f75 = #{f75} </if>
		  		  <if test="f76 != null and f76 != ''"> and f76 = #{f76} </if>
		  		  <if test="f77 != null and f77 != ''"> and f77 = #{f77} </if>
		  		  <if test="f78 != null and f78 != ''"> and f78 = #{f78} </if>
		  		  <if test="f79 != null and f79 != ''"> and f79 = #{f79} </if>
		  		  <if test="f80 != null and f80 != ''"> and f80 = #{f80} </if>
		  		  <if test="f81 != null and f81 != ''"> and f81 = #{f81} </if>
		  		  <if test="f82 != null and f82 != ''"> and f82 = #{f82} </if>
		  		  <if test="f83 != null and f83 != ''"> and f83 = #{f83} </if>
		  		  <if test="f84 != null and f84 != ''"> and f84 = #{f84} </if>
		  		  <if test="f85 != null and f85 != ''"> and f85 = #{f85} </if>
		  		  <if test="f86 != null and f86 != ''"> and f86 = #{f86} </if>
		  		  <if test="f87 != null and f87 != ''"> and f87 = #{f87} </if>
		  		  <if test="f88 != null and f88 != ''"> and f88 = #{f88} </if>
		  		  <if test="f89 != null and f89 != ''"> and f89 = #{f89} </if>
		  		  <if test="f90 != null and f90 != ''"> and f90 = #{f90} </if>
		  		  <if test="f91 != null and f91 != ''"> and f91 = #{f91} </if>
		  		  <if test="f92 != null and f92 != ''"> and f92 = #{f92} </if>
		  		  <if test="f93 != null and f93 != ''"> and f93 = #{f93} </if>
		  		  <if test="f94 != null and f94 != ''"> and f94 = #{f94} </if>
		  		  <if test="f95 != null and f95 != ''"> and f95 = #{f95} </if>
		  		  <if test="f96 != null and f96 != ''"> and f96 = #{f96} </if>
		  		  <if test="f97 != null and f97 != ''"> and f97 = #{f97} </if>
		  		  <if test="f98 != null and f98 != ''"> and f98 = #{f98} </if>
		  		  <if test="f99 != null and f99 != ''"> and f99 = #{f99} </if>
		  		  <if test="f100 != null and f100 != ''"> and f100 = #{f100} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from lte_common_object
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="objectType != null and objectType != ''"> and object_type = #{objectType} </if>
		  		  <if test="objectCode != null and objectCode != ''"> and object_code = #{objectCode} </if>
		  		  <if test="objectName != null and objectName != ''"> and object_name = #{objectName} </if>
		  		  <if test="objectDefineId != null and objectDefineId != ''"> and object_define_id = #{objectDefineId} </if>
		  		  <if test="objectArea != null and objectArea != ''"> and object_area = #{objectArea} </if>
		  		  <if test="objectDistrict != null and objectDistrict != ''"> and object_district = #{objectDistrict} </if>
		  		  <if test="f1 != null and f1 != ''"> and f1 = #{f1} </if>
		  		  <if test="f2 != null and f2 != ''"> and f2 = #{f2} </if>
		  		  <if test="f3 != null and f3 != ''"> and f3 = #{f3} </if>
		  		  <if test="f4 != null and f4 != ''"> and f4 = #{f4} </if>
		  		  <if test="f5 != null and f5 != ''"> and f5 = #{f5} </if>
		  		  <if test="f6 != null and f6 != ''"> and f6 = #{f6} </if>
		  		  <if test="f7 != null and f7 != ''"> and f7 = #{f7} </if>
		  		  <if test="f8 != null and f8 != ''"> and f8 = #{f8} </if>
		  		  <if test="f9 != null and f9 != ''"> and f9 = #{f9} </if>
		  		  <if test="f10 != null and f10 != ''"> and f10 = #{f10} </if>
		  		  <if test="f11 != null and f11 != ''"> and f11 = #{f11} </if>
		  		  <if test="f12 != null and f12 != ''"> and f12 = #{f12} </if>
		  		  <if test="f13 != null and f13 != ''"> and f13 = #{f13} </if>
		  		  <if test="f14 != null and f14 != ''"> and f14 = #{f14} </if>
		  		  <if test="f15 != null and f15 != ''"> and f15 = #{f15} </if>
		  		  <if test="f16 != null and f16 != ''"> and f16 = #{f16} </if>
		  		  <if test="f17 != null and f17 != ''"> and f17 = #{f17} </if>
		  		  <if test="f18 != null and f18 != ''"> and f18 = #{f18} </if>
		  		  <if test="f19 != null and f19 != ''"> and f19 = #{f19} </if>
		  		  <if test="f20 != null and f20 != ''"> and f20 = #{f20} </if>
		  		  <if test="f21 != null and f21 != ''"> and f21 = #{f21} </if>
		  		  <if test="f22 != null and f22 != ''"> and f22 = #{f22} </if>
		  		  <if test="f23 != null and f23 != ''"> and f23 = #{f23} </if>
		  		  <if test="f24 != null and f24 != ''"> and f24 = #{f24} </if>
		  		  <if test="f25 != null and f25 != ''"> and f25 = #{f25} </if>
		  		  <if test="f26 != null and f26 != ''"> and f26 = #{f26} </if>
		  		  <if test="f27 != null and f27 != ''"> and f27 = #{f27} </if>
		  		  <if test="f28 != null and f28 != ''"> and f28 = #{f28} </if>
		  		  <if test="f29 != null and f29 != ''"> and f29 = #{f29} </if>
		  		  <if test="f30 != null and f30 != ''"> and f30 = #{f30} </if>
		  		  <if test="f31 != null and f31 != ''"> and f31 = #{f31} </if>
		  		  <if test="f32 != null and f32 != ''"> and f32 = #{f32} </if>
		  		  <if test="f33 != null and f33 != ''"> and f33 = #{f33} </if>
		  		  <if test="f34 != null and f34 != ''"> and f34 = #{f34} </if>
		  		  <if test="f35 != null and f35 != ''"> and f35 = #{f35} </if>
		  		  <if test="f36 != null and f36 != ''"> and f36 = #{f36} </if>
		  		  <if test="f37 != null and f37 != ''"> and f37 = #{f37} </if>
		  		  <if test="f38 != null and f38 != ''"> and f38 = #{f38} </if>
		  		  <if test="f39 != null and f39 != ''"> and f39 = #{f39} </if>
		  		  <if test="f40 != null and f40 != ''"> and f40 = #{f40} </if>
		  		  <if test="f41 != null and f41 != ''"> and f41 = #{f41} </if>
		  		  <if test="f42 != null and f42 != ''"> and f42 = #{f42} </if>
		  		  <if test="f43 != null and f43 != ''"> and f43 = #{f43} </if>
		  		  <if test="f44 != null and f44 != ''"> and f44 = #{f44} </if>
		  		  <if test="f45 != null and f45 != ''"> and f45 = #{f45} </if>
		  		  <if test="f46 != null and f46 != ''"> and f46 = #{f46} </if>
		  		  <if test="f47 != null and f47 != ''"> and f47 = #{f47} </if>
		  		  <if test="f48 != null and f48 != ''"> and f48 = #{f48} </if>
		  		  <if test="f49 != null and f49 != ''"> and f49 = #{f49} </if>
		  		  <if test="f50 != null and f50 != ''"> and f50 = #{f50} </if>
		  		  <if test="f51 != null and f51 != ''"> and f51 = #{f51} </if>
		  		  <if test="f52 != null and f52 != ''"> and f52 = #{f52} </if>
		  		  <if test="f53 != null and f53 != ''"> and f53 = #{f53} </if>
		  		  <if test="f54 != null and f54 != ''"> and f54 = #{f54} </if>
		  		  <if test="f55 != null and f55 != ''"> and f55 = #{f55} </if>
		  		  <if test="f56 != null and f56 != ''"> and f56 = #{f56} </if>
		  		  <if test="f57 != null and f57 != ''"> and f57 = #{f57} </if>
		  		  <if test="f58 != null and f58 != ''"> and f58 = #{f58} </if>
		  		  <if test="f59 != null and f59 != ''"> and f59 = #{f59} </if>
		  		  <if test="f60 != null and f60 != ''"> and f60 = #{f60} </if>
		  		  <if test="f61 != null and f61 != ''"> and f61 = #{f61} </if>
		  		  <if test="f62 != null and f62 != ''"> and f62 = #{f62} </if>
		  		  <if test="f63 != null and f63 != ''"> and f63 = #{f63} </if>
		  		  <if test="f64 != null and f64 != ''"> and f64 = #{f64} </if>
		  		  <if test="f65 != null and f65 != ''"> and f65 = #{f65} </if>
		  		  <if test="f66 != null and f66 != ''"> and f66 = #{f66} </if>
		  		  <if test="f67 != null and f67 != ''"> and f67 = #{f67} </if>
		  		  <if test="f68 != null and f68 != ''"> and f68 = #{f68} </if>
		  		  <if test="f69 != null and f69 != ''"> and f69 = #{f69} </if>
		  		  <if test="f70 != null and f70 != ''"> and f70 = #{f70} </if>
		  		  <if test="f71 != null and f71 != ''"> and f71 = #{f71} </if>
		  		  <if test="f72 != null and f72 != ''"> and f72 = #{f72} </if>
		  		  <if test="f73 != null and f73 != ''"> and f73 = #{f73} </if>
		  		  <if test="f74 != null and f74 != ''"> and f74 = #{f74} </if>
		  		  <if test="f75 != null and f75 != ''"> and f75 = #{f75} </if>
		  		  <if test="f76 != null and f76 != ''"> and f76 = #{f76} </if>
		  		  <if test="f77 != null and f77 != ''"> and f77 = #{f77} </if>
		  		  <if test="f78 != null and f78 != ''"> and f78 = #{f78} </if>
		  		  <if test="f79 != null and f79 != ''"> and f79 = #{f79} </if>
		  		  <if test="f80 != null and f80 != ''"> and f80 = #{f80} </if>
		  		  <if test="f81 != null and f81 != ''"> and f81 = #{f81} </if>
		  		  <if test="f82 != null and f82 != ''"> and f82 = #{f82} </if>
		  		  <if test="f83 != null and f83 != ''"> and f83 = #{f83} </if>
		  		  <if test="f84 != null and f84 != ''"> and f84 = #{f84} </if>
		  		  <if test="f85 != null and f85 != ''"> and f85 = #{f85} </if>
		  		  <if test="f86 != null and f86 != ''"> and f86 = #{f86} </if>
		  		  <if test="f87 != null and f87 != ''"> and f87 = #{f87} </if>
		  		  <if test="f88 != null and f88 != ''"> and f88 = #{f88} </if>
		  		  <if test="f89 != null and f89 != ''"> and f89 = #{f89} </if>
		  		  <if test="f90 != null and f90 != ''"> and f90 = #{f90} </if>
		  		  <if test="f91 != null and f91 != ''"> and f91 = #{f91} </if>
		  		  <if test="f92 != null and f92 != ''"> and f92 = #{f92} </if>
		  		  <if test="f93 != null and f93 != ''"> and f93 = #{f93} </if>
		  		  <if test="f94 != null and f94 != ''"> and f94 = #{f94} </if>
		  		  <if test="f95 != null and f95 != ''"> and f95 = #{f95} </if>
		  		  <if test="f96 != null and f96 != ''"> and f96 = #{f96} </if>
		  		  <if test="f97 != null and f97 != ''"> and f97 = #{f97} </if>
		  		  <if test="f98 != null and f98 != ''"> and f98 = #{f98} </if>
		  		  <if test="f99 != null and f99 != ''"> and f99 = #{f99} </if>
		  		  <if test="f100 != null and f100 != ''"> and f100 = #{f100} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.lte.domain.CommonObjectDO" useGeneratedKeys="true" keyProperty="id">
		insert into lte_common_object
		(
			`object_type`, 
			`object_code`, 
			`object_name`, 
			`object_define_id`, 
			`object_area`, 
			`object_district`, 
			`f1`, 
			`f2`, 
			`f3`, 
			`f4`, 
			`f5`, 
			`f6`, 
			`f7`, 
			`f8`, 
			`f9`, 
			`f10`, 
			`f11`, 
			`f12`, 
			`f13`, 
			`f14`, 
			`f15`, 
			`f16`, 
			`f17`, 
			`f18`, 
			`f19`, 
			`f20`, 
			`f21`, 
			`f22`, 
			`f23`, 
			`f24`, 
			`f25`, 
			`f26`, 
			`f27`, 
			`f28`, 
			`f29`, 
			`f30`, 
			`f31`, 
			`f32`, 
			`f33`, 
			`f34`, 
			`f35`, 
			`f36`, 
			`f37`, 
			`f38`, 
			`f39`, 
			`f40`, 
			`f41`, 
			`f42`, 
			`f43`, 
			`f44`, 
			`f45`, 
			`f46`, 
			`f47`, 
			`f48`, 
			`f49`, 
			`f50`, 
			`f51`, 
			`f52`, 
			`f53`, 
			`f54`, 
			`f55`, 
			`f56`, 
			`f57`, 
			`f58`, 
			`f59`, 
			`f60`, 
			`f61`, 
			`f62`, 
			`f63`, 
			`f64`, 
			`f65`, 
			`f66`, 
			`f67`, 
			`f68`, 
			`f69`, 
			`f70`, 
			`f71`, 
			`f72`, 
			`f73`, 
			`f74`, 
			`f75`, 
			`f76`, 
			`f77`, 
			`f78`, 
			`f79`, 
			`f80`, 
			`f81`, 
			`f82`, 
			`f83`, 
			`f84`, 
			`f85`, 
			`f86`, 
			`f87`, 
			`f88`, 
			`f89`, 
			`f90`, 
			`f91`, 
			`f92`, 
			`f93`, 
			`f94`, 
			`f95`, 
			`f96`, 
			`f97`, 
			`f98`, 
			`f99`, 
			`f100`
		)
		values
		(
			#{objectType}, 
			#{objectCode}, 
			#{objectName}, 
			#{objectDefineId}, 
			#{objectArea}, 
			#{objectDistrict}, 
			#{f1}, 
			#{f2}, 
			#{f3}, 
			#{f4}, 
			#{f5}, 
			#{f6}, 
			#{f7}, 
			#{f8}, 
			#{f9}, 
			#{f10}, 
			#{f11}, 
			#{f12}, 
			#{f13}, 
			#{f14}, 
			#{f15}, 
			#{f16}, 
			#{f17}, 
			#{f18}, 
			#{f19}, 
			#{f20}, 
			#{f21}, 
			#{f22}, 
			#{f23}, 
			#{f24}, 
			#{f25}, 
			#{f26}, 
			#{f27}, 
			#{f28}, 
			#{f29}, 
			#{f30}, 
			#{f31}, 
			#{f32}, 
			#{f33}, 
			#{f34}, 
			#{f35}, 
			#{f36}, 
			#{f37}, 
			#{f38}, 
			#{f39}, 
			#{f40}, 
			#{f41}, 
			#{f42}, 
			#{f43}, 
			#{f44}, 
			#{f45}, 
			#{f46}, 
			#{f47}, 
			#{f48}, 
			#{f49}, 
			#{f50}, 
			#{f51}, 
			#{f52}, 
			#{f53}, 
			#{f54}, 
			#{f55}, 
			#{f56}, 
			#{f57}, 
			#{f58}, 
			#{f59}, 
			#{f60}, 
			#{f61}, 
			#{f62}, 
			#{f63}, 
			#{f64}, 
			#{f65}, 
			#{f66}, 
			#{f67}, 
			#{f68}, 
			#{f69}, 
			#{f70}, 
			#{f71}, 
			#{f72}, 
			#{f73}, 
			#{f74}, 
			#{f75}, 
			#{f76}, 
			#{f77}, 
			#{f78}, 
			#{f79}, 
			#{f80}, 
			#{f81}, 
			#{f82}, 
			#{f83}, 
			#{f84}, 
			#{f85}, 
			#{f86}, 
			#{f87}, 
			#{f88}, 
			#{f89}, 
			#{f90}, 
			#{f91}, 
			#{f92}, 
			#{f93}, 
			#{f94}, 
			#{f95}, 
			#{f96}, 
			#{f97}, 
			#{f98}, 
			#{f99}, 
			#{f100}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.lte.domain.CommonObjectDO">
		update lte_common_object 
		<set>
			<if test="objectType != null">`object_type` = #{objectType}, </if>
			<if test="objectCode != null">`object_code` = #{objectCode}, </if>
			<if test="objectName != null">`object_name` = #{objectName}, </if>
			<if test="objectDefineId != null">`object_define_id` = #{objectDefineId}, </if>
			<if test="objectArea != null">`object_area` = #{objectArea}, </if>
			<if test="objectDistrict != null">`object_district` = #{objectDistrict}, </if>
			<if test="f1 != null">`f1` = #{f1}, </if>
			<if test="f2 != null">`f2` = #{f2}, </if>
			<if test="f3 != null">`f3` = #{f3}, </if>
			<if test="f4 != null">`f4` = #{f4}, </if>
			<if test="f5 != null">`f5` = #{f5}, </if>
			<if test="f6 != null">`f6` = #{f6}, </if>
			<if test="f7 != null">`f7` = #{f7}, </if>
			<if test="f8 != null">`f8` = #{f8}, </if>
			<if test="f9 != null">`f9` = #{f9}, </if>
			<if test="f10 != null">`f10` = #{f10}, </if>
			<if test="f11 != null">`f11` = #{f11}, </if>
			<if test="f12 != null">`f12` = #{f12}, </if>
			<if test="f13 != null">`f13` = #{f13}, </if>
			<if test="f14 != null">`f14` = #{f14}, </if>
			<if test="f15 != null">`f15` = #{f15}, </if>
			<if test="f16 != null">`f16` = #{f16}, </if>
			<if test="f17 != null">`f17` = #{f17}, </if>
			<if test="f18 != null">`f18` = #{f18}, </if>
			<if test="f19 != null">`f19` = #{f19}, </if>
			<if test="f20 != null">`f20` = #{f20}, </if>
			<if test="f21 != null">`f21` = #{f21}, </if>
			<if test="f22 != null">`f22` = #{f22}, </if>
			<if test="f23 != null">`f23` = #{f23}, </if>
			<if test="f24 != null">`f24` = #{f24}, </if>
			<if test="f25 != null">`f25` = #{f25}, </if>
			<if test="f26 != null">`f26` = #{f26}, </if>
			<if test="f27 != null">`f27` = #{f27}, </if>
			<if test="f28 != null">`f28` = #{f28}, </if>
			<if test="f29 != null">`f29` = #{f29}, </if>
			<if test="f30 != null">`f30` = #{f30}, </if>
			<if test="f31 != null">`f31` = #{f31}, </if>
			<if test="f32 != null">`f32` = #{f32}, </if>
			<if test="f33 != null">`f33` = #{f33}, </if>
			<if test="f34 != null">`f34` = #{f34}, </if>
			<if test="f35 != null">`f35` = #{f35}, </if>
			<if test="f36 != null">`f36` = #{f36}, </if>
			<if test="f37 != null">`f37` = #{f37}, </if>
			<if test="f38 != null">`f38` = #{f38}, </if>
			<if test="f39 != null">`f39` = #{f39}, </if>
			<if test="f40 != null">`f40` = #{f40}, </if>
			<if test="f41 != null">`f41` = #{f41}, </if>
			<if test="f42 != null">`f42` = #{f42}, </if>
			<if test="f43 != null">`f43` = #{f43}, </if>
			<if test="f44 != null">`f44` = #{f44}, </if>
			<if test="f45 != null">`f45` = #{f45}, </if>
			<if test="f46 != null">`f46` = #{f46}, </if>
			<if test="f47 != null">`f47` = #{f47}, </if>
			<if test="f48 != null">`f48` = #{f48}, </if>
			<if test="f49 != null">`f49` = #{f49}, </if>
			<if test="f50 != null">`f50` = #{f50}, </if>
			<if test="f51 != null">`f51` = #{f51}, </if>
			<if test="f52 != null">`f52` = #{f52}, </if>
			<if test="f53 != null">`f53` = #{f53}, </if>
			<if test="f54 != null">`f54` = #{f54}, </if>
			<if test="f55 != null">`f55` = #{f55}, </if>
			<if test="f56 != null">`f56` = #{f56}, </if>
			<if test="f57 != null">`f57` = #{f57}, </if>
			<if test="f58 != null">`f58` = #{f58}, </if>
			<if test="f59 != null">`f59` = #{f59}, </if>
			<if test="f60 != null">`f60` = #{f60}, </if>
			<if test="f61 != null">`f61` = #{f61}, </if>
			<if test="f62 != null">`f62` = #{f62}, </if>
			<if test="f63 != null">`f63` = #{f63}, </if>
			<if test="f64 != null">`f64` = #{f64}, </if>
			<if test="f65 != null">`f65` = #{f65}, </if>
			<if test="f66 != null">`f66` = #{f66}, </if>
			<if test="f67 != null">`f67` = #{f67}, </if>
			<if test="f68 != null">`f68` = #{f68}, </if>
			<if test="f69 != null">`f69` = #{f69}, </if>
			<if test="f70 != null">`f70` = #{f70}, </if>
			<if test="f71 != null">`f71` = #{f71}, </if>
			<if test="f72 != null">`f72` = #{f72}, </if>
			<if test="f73 != null">`f73` = #{f73}, </if>
			<if test="f74 != null">`f74` = #{f74}, </if>
			<if test="f75 != null">`f75` = #{f75}, </if>
			<if test="f76 != null">`f76` = #{f76}, </if>
			<if test="f77 != null">`f77` = #{f77}, </if>
			<if test="f78 != null">`f78` = #{f78}, </if>
			<if test="f79 != null">`f79` = #{f79}, </if>
			<if test="f80 != null">`f80` = #{f80}, </if>
			<if test="f81 != null">`f81` = #{f81}, </if>
			<if test="f82 != null">`f82` = #{f82}, </if>
			<if test="f83 != null">`f83` = #{f83}, </if>
			<if test="f84 != null">`f84` = #{f84}, </if>
			<if test="f85 != null">`f85` = #{f85}, </if>
			<if test="f86 != null">`f86` = #{f86}, </if>
			<if test="f87 != null">`f87` = #{f87}, </if>
			<if test="f88 != null">`f88` = #{f88}, </if>
			<if test="f89 != null">`f89` = #{f89}, </if>
			<if test="f90 != null">`f90` = #{f90}, </if>
			<if test="f91 != null">`f91` = #{f91}, </if>
			<if test="f92 != null">`f92` = #{f92}, </if>
			<if test="f93 != null">`f93` = #{f93}, </if>
			<if test="f94 != null">`f94` = #{f94}, </if>
			<if test="f95 != null">`f95` = #{f95}, </if>
			<if test="f96 != null">`f96` = #{f96}, </if>
			<if test="f97 != null">`f97` = #{f97}, </if>
			<if test="f98 != null">`f98` = #{f98}, </if>
			<if test="f99 != null">`f99` = #{f99}, </if>
			<if test="f100 != null">`f100` = #{f100}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from lte_common_object where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from lte_common_object where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>