<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row ">
        <div class="col-sm-12">
            <div class="col-md-8">
                <div class="panel panel-success" >
                    <div class="panel-heading">设备总览</div>
                    <div class="panel-body">

                        <div class="panel panel-info">
                            <div class="panel-heading">东区局</div>
                            <div class="panel-body">
                                <div class="bs-glyphicons">
                                    <ul class="bs-glyphicons-list">
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0001</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0002</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0003</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0004</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0005</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0006</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0007</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0008</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-footer">
                                设备总数:150-告警设备数:<span class="text-danger">65</span>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">西区局</div>
                            <div class="panel-body">
                                <div class="bs-glyphicons">
                                    <ul class="bs-glyphicons-list">
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0001</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0002</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0003</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0004</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0005</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0006</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0007</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0008</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-footer">
                                设备总数:150-告警设备数:<span class="text-danger">65</span>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">南区局</div>
                            <div class="panel-body">
                                <div class="bs-glyphicons">
                                    <ul class="bs-glyphicons-list">
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0001</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0002</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0003</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0004</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0005</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0006</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0007</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0008</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-footer">
                                设备总数:150-告警设备数:<span class="text-danger">65</span>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">北区局</div>
                            <div class="panel-body">
                                <div class="bs-glyphicons">
                                    <ul class="bs-glyphicons-list">
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0001</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0002</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0003</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0004</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0005</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0006</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0007</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0008</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-footer">
                                设备总数:150-告警设备数:<span class="text-danger">65</span>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">浦东局</div>
                            <div class="panel-body">
                                <div class="bs-glyphicons">
                                    <ul class="bs-glyphicons-list">
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0001</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0002</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0003</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0004</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0005</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0006</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0007</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0008</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-footer">
                                设备总数:150-告警设备数:<span class="text-danger">65</span>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">莘闵局</div>
                            <div class="panel-body">
                                <div class="bs-glyphicons">
                                    <ul class="bs-glyphicons-list">
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0001</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0002</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0003</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_normal_48.png" />
                                            <span class="glyphicon-class">BBU0004</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0005</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0006</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0007</span>
                                        </li>
                                        <li>
                                            <img src="/img/lte/bbu_alarm_48.png" />
                                            <span class="glyphicon-class">BBU0008</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-footer">
                                设备总数:150-告警设备数:<span class="text-danger">65</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">设备告警率</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/lte/lteAlarm/index.js">
</script>
</body>
</html>
